/* media query changes for desktop views */

@media only screen and (min-width: 1024px) {
  #desktop {
    display:flex;
    padding: 5%
  }

  #profile-header {
    width: 30%;
    background-color: var(--main-desktop-accent-color);
  }

  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    background-color: var(--main-accent-color);
    background-image: none;
  }
}