#profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-accent-color);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 400px;
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 100px;
}

.emphasis{
  font-weight: 700;
}

.profile-image img{
  height: 200px;
  padding: 10%
}
