/* Main body and global stylings */

 html, body {
  box-sizing: border-box;
  background-color: var(--main-body-color);
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--main-font-color);

}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0
}

.container {
  margin: 5% 0 5% 5%; 
  width: 90vw;
  color: var(--main-body-font-color);
}

