html {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 24px 24px;
  align-items: center;
  background-color: #4056A1;
  color: white;
}

.logo {
  font-family:'Bungee', cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.compose {
  font-family: 'Source Sans Pro', sans-serif;
}