html {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 24px 24px;
  align-items: center;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.logo {
  font-family:'Bungee', cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.compose {
  font-family: 'Source Sans Pro', sans-serif;
}