.new-tweet {
  display: flex;
  justify-content: center;
  padding: 10px 10px 40px 10px;
}

.new-tweet form {
  width: 100%;
  max-width: 800px;
}

.tweetLabel {
  color: var(--main-tweet-accent-font-color);
  font-size: 30px;
  font-weight: bold
}

#tweet-text {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--main-tweet-accent-font-color);

}

.below-tweet {
  display: flex;
  justify-content: space-between;
}


.counter {
  display: flex;
  font-family: var(--main-accent-font);
  color: var(--main-tweet-accent-font-color);
}

.submit-tweet {
  font-family: var(--main-accent-font);
  font-size: 16px;
  background-color: var(--main-accent-color);
  color: var(--main-font-color);
  border-radius: 200px;
}


.turn-red{
  color:  var(--main-alert-color);
}

.error-message {
  display: none;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  border: 5px solid  var(--main-alert-color);
  color:  var(--main-alert-color);
}
