
.new-tweet {
  display: flex;
  justify-content: center;
  padding: 10px 10px 40px 10px;
  word-wrap: break-word;
}

.submit-tweet {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 16px;
  background-color: #4056A1;
  color: white;
  border-radius: 200px;
}

.counter {
  display: flex;
  font-family: 'Bungee', cursive; 
  color: grey;
}

.below-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  background: transparent;
  border: none;
  border-bottom: 3px solid grey;
  width: 800px;
}

.tweetLabel {
  display:flex;
  color: grey;
  font-size: 30px;
  font-weight: bold
}

.turn-red{
  color:  tomato;
}

.error-message {
  display: none;
  border: 5px solid  tomato;
  color:  tomato;
  font-size: 1.5em;
  align-items: center;
  font-weight: bolder;
  text-align: center;
}
