/* all stylings for tweeter feed */

.tweet-container {
  flex-direction: column;
  display: flex;
  padding: 10px;
  align-items: center;
}

.tweet{
  width: 100%;
  max-width: 800px;
  border: 3px solid var(--main-tweet-accent-font-color);
  padding: 30px 10px 10px 10px;
  margin-bottom: 15px;
}

.tweet:hover {
  box-shadow: 5px 10px 8px var(--main-tweet-accent-font-color);
}

.tweet header {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.tweet-body {
  border-bottom: 3px solid var(--main-tweet-accent-font-color);
  padding: 30px 10px 10px 10px;
}

.tweet-body p {
  word-break: break-all;
}

.tweet div {
  display: flex;
  justify-content: flex-start;
} 

.tweet img{
  height: 50px
}

.user-name{
  display:flex;
  padding: 10px;
}

.user-ID {
  font-weight: bold;
  color: var(--main-tweet-accent-font-color);
  opacity: 0.5;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px 0px 0px;
  font-size: small;
};

