/* root variables for all fonts and colors throughout tweeter */

:root {
  --main-font-color: white;
  --main-body-font-color: black;
  --main-body-color:  #f4f1ec;
  --main-accent-color: #4056A1;
  --main-desktop-accent-color: #eca400;
  --main-alert-color: tomato;
  --main-accent-font: 'Bungee', cursive;
  --main-tweet-accent-font-color: grey;
};