:root {
  --main-font-colour: white;
  --main-background-colour: grey;
  /* --primary-brand-colour: $asdfsadflksdfjasd; */
  /* --main-background-colour: 128, 128, 128; */
}

/* 
:root {
  --main-font-colour: hsl(195, 100%, 50%);
  --main-background-colour: 128, 128, 128;
  --main-background-colour-darker: rgba(var(--main-background-colour), 0.5)

}

*/